@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');




/* Margin Reset */

*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    width: 413px;
    /* background-color: black; */
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    background-color: #ffff;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 4;
}
.navbar div{
  display: inline-block;

}
.header{
    height: 585px;
    width: 413px;
    background: url('Header Section/Header.png');
    display: flex;
    justify-content: center;
    align-items: center;

}
button{
    width: 175px;
    height: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.b{
    margin-top: 303px;
    text-align: center;

}
.btn1{
   
    background-color: #FFDE00;
    border: none;
    outline: none;
    border-radius: 5px;
}
.btn2{
    margin-top: 10px;
    background-color: #ffff;
    border: 2px solid #FFDE00;
    outline: none;
    border-radius: 5px;
}

.btn1:hover{
    background-color: #ffff;
    border: 2px solid #FFDE00;
}

.btn2:hover{
    background-color: #FFDE00;
    border: none;
    outline: none;
    border-radius: 5px;
}


.inspire{
  /* margin: 5px; */
    margin-top: 50px;
    height: 490px;
    width: 413px;

    /* width: 413px; */
    background: url('Inspire\ Section/InspireMe.png');


}





*{
    margin: 0;
    padding: 0;
}

.container1{
  /* margin-top: 200px; */
  /* margin-left: 200px; */
  /* display: inline; */
  width: 381px;
  height: 200px;
  padding-top: 200px;
  /* position: absolute;
  top: 0; */
  /* border: 4px solid black;
  background-color: rgba(0, 0, 0, 0.712); */
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.card {
display: flex;
height: 166px;
width: 135.3px;
  /* background-color: #17141d; */
  border-radius: 10px;
  /* box-shadow: -1rem 0 3rem #000; */
  margin-left: -50px;
  transition:all 0.4s ease-out;
  filter: grayscale(100%);
  position: relative;
  left: 0px;

}

.card:not(:first-child) {
  margin-left: -36px;
}

.card:hover {
  filter: grayscale(0) ;
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  cursor: pointer;
}



.card:hover ~ .card {
  position: relative;
  left: 20px;
  transition: 0.4s ease-out;
  
}
@-webkit-keyframes btn1{
  0% {
    -webkit-animation: translateX(0px)

  }
  100% {
    -webkit-animation: translateX(0px)

  }
}

@keyframes btn1{
  0% {
   animation: translateX(0px)
  }
  100% {
    animation: translateX(-400px);
  }
}


.contain {
  position: absolute;
  /* top: 60px; */
  left: -405px;
  display: flex;
  /* margin: 0px auto; */
  /* margin-top: 200px; */
  /* justify-content: center;
  align-items: center;
  height: 100vh; */
  /* animation: btn1 2s infinite linear; */
  width: 250px;
  transition: all 5s ease-out;
}

.a1{
transform: translateX(443px) ;
}
.a2{
transform: translateX(70px) ;
}
.a3{
transform: translateX(-200px) ;
}


.buttons{
    text-align: center;
    margin-top: -2px;
    margin-bottom: 20px;
    cursor: pointer;
    /* margin-left: 90px; */
}


.w1w{
position: relative;
z-index: 1;
height: 26px;
padding-right: 0px;
margin-left: -30px;
}

.hide{
display: none;
}

.a1a{
width: 24px;
  height: 24px;
  padding-top: 127px;
  padding-right: 0;
  margin-left: -27px;
  z-index: 1;
}


.inspire .b{
    margin-top: 10px;
}

.podcast{
    margin-top: 50px;
    height: 477px;
    width: 413px;

    /* width: 413px; */
    background: url('Podcast\ Section/Podcasts.png');
    margin-bottom: 100px;
}


/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */

.animpodcasts{
  overflow: hidden;
    display: flex;
    width: 382px;
    padding-top: 200px;
    margin-left: 32px;

}


.slidepod{
  /* height: 350px; */
  /* width: fit-content; */
  display: flex;
  position: relative;
  /* overflow: auto; */
  transition: all 2s ease-out;
}

.slidepod img{
  height: 141.5px;
  width: 198.5px;
}
.text{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* margin-left: 20px; */

}
.podcast .b{
  margin-top: 25px;
}
.podcast p{
  display: inline-block;
  /* padding: 4px; */
  font-size: 15px;
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  padding: 5px 10px;
  cursor: pointer;
  color: rgb(112, 111, 111);

  /* background-color: #ffde00; */
  
}
.podcast p:hover{
  background-color: #ffde00;
  color: black;
  border-radius: 15px;

}

.color{
  background-color: #FFDE00;
  color: black !important;
  border-radius: 15px;

}


.a1pod{
  transform: translateX(68px);
}
.a2pod{
  transform: translateX(-125px);
}
.a3pod{
  transform: translateX(-322px);
}
.a4pod{
  transform: translate(-520px);
}



.buttonpodcast{
  text-align: center;
  /* width: 90%; */
  /* margin-left: 40px; */
  margin-top: 20px;
}

.buttonpodcast img{
  /* transform: scale(1.5); */
  /* margin-top: 10px; */
  /* margin-left: 5px; */
  cursor: pointer;
}


.podwish{
  position: relative;
  margin-left: 0;
  /* margin-top: 0; */
  /* padding-top: 0; */
  top: -147px;
    left: 80px;
  height: 24px !important;
  width: 24px !important;

}


.quicks{
  /* margin: 4px; */
  margin-top: 50px;
    height: 414px;
    width: 414px;

    /* width: 413px; */
    background: url('Quicks\ Section/Quicks.png') no-repeat center center/cover;
    margin-bottom: 100px;
}


.quicks .slide img{
    width: 82.23px !important;
    height: 126px !important;
    margin-left: 5px;
}

.quicks .b{
  margin-top: 50px
}



.articles{
  /* height: 413px; */
  width: 413px;
  height: 414px;
  background: url('Articles\ Section/Articles.png') no-repeat;
  margin-top: 50px;
  margin-bottom: 100px;

}

/* mARGIN rESET */
*{
  margin: 0;
  padding: 0;
}
.animart{
  width: 379px;
  /* border: 2px solid black; */
  height: 115px;
  position: relative;
  left: 32px;
  padding-top: 200px;
  overflow: hidden;

}
.slideart{
  margin-left: 20px;
  display: flex;
  position: relative;
  transition: all 2s ease-out;
}

.a0art{
  transform: translate(0) !important;
}
.a1art{
  transform: translateX(-340px);
}
.a2art{
  transform: translateX(-666px);
}
.a3art{
  transform: translateX(-995px);
}
.a4art{
  transform: translateX(-1330px);
}
.a5art{
  transform: translateX(-1665px);
}
.a6art{
  transform: translateX(-2000px);
}
.a7art{
  transform: translateX(-2335px);
}
.a8art{
  transform: translateX(-2670px);
}

.slideart img{
  margin-right: 20px;
  height: 98.27px;
  width: 311px;
}

.buttonarticle{
  display: block;
  /* padding: 0 auto; */
  text-align: center;
}

.buttonarticle img{
  cursor: pointer;
}

.articles .b{
  margin-top:20px ;
}


.newsletter{
  position: relative;
  height:253PX ;
  width: 413px;
  background: url('Footer Section/Footer.png');
}
.email{
  position: relative;
  top: 112px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
.newsletter input{
  width: 350px;
  height: 40px;
  position: relative;
outline: none;
border: none;
border-radius: 5px;
background-color: #F5F5F5;
color: #555555;
  display: block;
  padding-left: 40px;
  font-family: 'Ubuntu', sans-serif;

}

.textfield{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textfield img{
  height: 15px;
  width: 19px;
  position: relative;
  left: 26px;
  z-index: 2;
}

.footer{
  background-color: #F9F9F9 ;
  opacity: 100%;
  height: 526px;
  width: 413px;
}

.logobook{
  text-align: center;
  padding-top: 20px;
}

.footer .b{

  margin-top: 20px;

}

.list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  color: #444444;
  font-size: 16px !important;

}

.list ul img{
  margin-top: 0;
  margin-bottom: 4px;
}
.list ul li{
  list-style: none;
  /* text-align: center; */
  cursor: pointer;
  /* letter-spacing: 0.4%; */

}
.list ul li:nth-child(1) .add{
  padding-left: 245px !important;

}
.list ul li:nth-child(1){
  transition: all 0.2s ease-out;
}
.add{
  padding-left: 235px;
  text-align: center;
  margin-bottom: 0 !important;
  transform: scale(1.2);
  /* transition: all 2s ease-out; */
}

.add1{
  padding: 0;
  transform: rotate(45deg) !important;
  transform: scale(1.2);
}

.add2{
  padding-left: 272px !important;
}

.list ul li p{
  font-size: 13px;
    margin-top: 10px;
    line-height: 20px;
    /* margin-bottom: -18px; */
}

/* .h-class{
  height: 100px;
} */

.hide{
  display: none;
}


.social{
  position: relative;
  left: 261px;
  z-index: 2;
  top: 45px;
}
i{
  margin-left: 2px;
  color: black;

}

.para a{
  text-decoration: none;
  color: black;
}
.para a:hover{
  color: #FFDE00;
}
.social i:hover{
  color: #ffde00;
}
.foot{
  width: 415px;
  position: relative;
  top: -30;
}



@keyframes scrolls {
  0% {
    -webkit-transform: translateX();
            transform: translateX();
  }
  100% {
    -webkit-transform: translateX(calc(800px));
            transform: translateX(calc(800px));
  }
}

.slider1 {
  margin: auto;
  /* overflow: hidden; */
  position: relative;
  /* position: absolute; */
  top: 40%;
  display: flex;
  
  /* width: 900px; */
  left: -1000px;
}
.slider1::before, .slider1::after {

  content: "";
  z-index: 2;
}
.slider1::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider1::before {
  left:0;
  top: 0;
}
.slider1 .slide1-track {
  -webkit-animation: scrolls 40s linear infinite;
          animation: scrolls 40s linear infinite;
  display: flex;
  width: calc(200px*14);
}
.anim{
  /* width: 815px; */
width: 381px;

  /* border: 4px solid black; */
  overflow: hidden;
  /* margin: 0px auto; */
  position: relative;
  padding-top: 200px;
  /* right: 8%; */
}

/* .anim .slide img{
  width: 82.23px !important;
  height: 126px !important;
  margin-left: 5px;
} */

.d{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out;
}


.mybutton{
  display: inline;
}

.pad{
  padding-left: 260px;
  transform: scale(1.5);
}

.pod{
  border-radius: 8px;
}

.greycol{
filter: grayscale(0%) !important;
}
.greypod{
filter: grayscale(100%);
}

.infinitescroll1{
  transform: translateX(470px);
}

.infinitescroll2{
  transform: translate(-200px);
}

.infinitescroll3{
  transform: translateX(0);
}

.infinitescroll4{
  transform: translate(-500px);
}
.infinitescroll5{
  transform: translate(0);
}